@tailwind base;
@tailwind components;
@tailwind utilities;


    @font-face{
        font-family: lalezar;
        src:url("../font/Lalezar.ttf");
    }

    @font-face{
        font-family: yekan;
        src:url("../font/yekanbakh/YekanBakh-Regular.ttf");
    }

